<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta hhtp-equiv=refresh content=300>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iHome Looking Glass</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .img-block {
            width: 604px;
            height: 274px;
            padding: 10px;
            border: solid 1px #cccccc;
            border-radius: 4px;
            margin-bottom: 20px;
            margin-right: 10px;
            overflow: hidden;
            float: left;
        }
        .navbar-item {
            border-bottom: solid 3px #ffffff;
        }
        .selected_a {
            border-bottom: solid 3px hsl(171, 100%, 41%);
        }

        .rs-status-up {
        background-color: #BAEEC0;
        margin: 0px;
        text-align: center;
        color: green;
        }
        .rs-status-down {
        background-color: #EEC2BA;
        margin: 0px;
        text-align: center;
        color: red;
        }
        .status-wrapper {
        margin: 0 auto;
        width: 60px;
        border-radius: 5px;
        overflow: hidden;
        }
    </style>
</head>
<body class="has-navbar-fixed-top">



    <nav class="navbar is-fixed-top">

        <div class="navbar-brand">
            <a class="navbar-item" href="/"><b>iHome Looking Glass</b></a>
        </div>

        <div class="navbar-menu">

            <div class="navbar-start">
                <a class="navbar-item is-active {% if service == "wix" %}selected_a{% endif %}" href="?service=wix&server={{ server }}&family={{ family }}">W-IX</a>
                <a class="navbar-item is-active {% if service == "fv" %}selected_a{% endif %}" href="?service=fv&server={{ server }}&family={{ family }}">Inet2</a>
            </div>

            <div class="navbar-end">
                <a class="navbar-item is-active {% if family == "4" %}selected_a{% endif %}" href="?service={{ service }}&server={{ server }}&family=4">IPv4</a>
                <a class="navbar-item is-active {% if family == "6" %}selected_a{% endif %}" href="?service={{ service }}&server={{ server }}&family=6">IPv6</a>
            </div>

        </div>

    </nav>

    <section class="section">
        <div class="columns">

            <div class="column">

                {% if not pairs %}

                <b>The LG is currently not available. Please come back later.</b>

                {% else %}
                    <table class="table is-fullwidth">
                        <thead>
                            <th>Netname</th>
                            <th>ASN</th>
                            <th>Address</a></th>
                            <th>State</b></th>
                            <th>Rotues</th>
                            <th>Rejected</th>
                            <th>Persistency</th>
                        </thead>

                        <tbody>
                        {% for pair in pairs|sort(attribute="value") %}
                        <tr>
                            <td>
                                <b>{{ pair.description }}</b>
                            </td>
                            <td>
                                {{ pair.neighbor_as }}<br>
                            </td>
                            <td>

                                <a>{{ pair.neighbor_address }}</a>

                            </td>

                            <td class="has-text-weight-bold">


                            <div class="status-wrapper">

                                {% if pair['rs1'] %}
                                    {% if pair['rs1'].state == "up" %}
                                        <a href="/rs1/peer/{{ pair.neighbor_address}}"><div class="rs-status-up">rs1</div></a>
                                    {% else %}
                                        <a href="/rs1/peer/{{ pair.neighbor_address}}"><div class="rs-status-down">rs1</div></a>
                                    {% endif %}
                                {% else %}
                                    <div class="">rs 1</div>
                                {% endif %}

                                {% if pair['rs2'] %}
                                    {% if pair['rs2'].state == "up" %}
                                        <a href="/rs2/peer/{{ pair.neighbor_address}}"><div class="rs-status-up">rs2</div></a>
                                    {% else %}
                                        <a href="/rs2/peer/{{ pair.neighbor_address}}&rs=2"><div class="rs-status-down">rs2</div></a>
                                    {% endif %}
                                {% else %}
                                    <div class="">rs2</div>
                                {% endif %}

                            </div>

                            </td>

                            <td>
                                {{ pair['rs1'].imported_routes }}
                                <br>
                                {{ pair['rs2'].imported_routes }}
                            </td>

                            <td>
                                <span class="has-text-grey-light">{{ pair['rs1'].filtered_routes }}</span>
                                <br>
                                <span class="has-text-grey-light">{{ pair['rs2'].filtered_routes }}</span>
                            </td>

                            <td class="has-text-grey-light">
                                <small>
                                {{ pair['rs1'].last_event_time }}<br>
                                {{ pair['rs2'].last_event_time }}
                                </small>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% endif %}

            </div>


        </div>
    </section>

</body>
</html>
