<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta hhtp-equiv=refresh content=300>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iHome Looking Glass</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .img-block {
            width: 604px;
            height: 274px;
            padding: 10px;
            border: solid 1px #cccccc;
            border-radius: 4px;
            margin-bottom: 20px;
            margin-right: 10px;
            overflow: hidden;
            float: left;
        }
    </style>
</head>
<body>


    <section class="section">
        <div class="columns">
            <div class="column is-2">

                <aside class="menu">

                    <!-- Route Servers -->
                    <p class="menu-label">
                    Route Servers
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a {% if server == "rs1" %}class="is-active"{% endif %} href="?service={{ service }}&server=rs1&family={{ family }}">Route Server 1</a>
                        </li>
                        <li>
                            <a {% if server == "rs2" %}class="is-active"{% endif %} href="?service={{ service }}&server=rs2&family={{ family }}">Route Server 2</a>
                        </li>
                    </ul>


                    <!-- Route Tables -->
                    <p class="menu-label">
                    Route tables
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a {% if service == "wix" %}class="is-active"{% endif %} href="?service=wix&server={{ server }}&family={{ family }}">W-IX</a>
                        </li>
                        <li>
                            <a {% if service == "fv" %}class="is-active"{% endif %} href="?service=fv&server={{ server }}&family={{ family }}">Inet2</a>
                        </li>
                    </ul>

                    <!-- Route Tables -->
                    <p class="menu-label">
                    Family
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a {% if family == "4" %}class="is-active"{% endif %} href="?service={{ service }}&server={{ server }}&family=4">IPv4</a>
                        </li>
                        <li>
                            <a {% if family == "6" %}class="is-active"{% endif %} href="?service={{ service }}&server={{ server }}&family=6">IPv6</a>
                        </li>
                    </ul>

                </aside>

            </div>

            <div class="column">

                <h1 class="title">iHome LG</h1>

                {% if not peers %}

                <b>The LG is currently not available. Please come back later.</b>

                {% else %}
                    <table class="table is-fullwidth">
                        <thead>
                            <th>#</th>
                            <th>Netname</th>
                            <th>ASN</th>
                            <th>Address</a></th>
                            <th>State</b></th>
                            <th>Accepted/Rejected</th>
                            <th>Persistency</th>
                        </thead>

                        <tbody>
                        {% for peer in peers|sort(attribute='value') %}
                        <tr>
                            <td></td>
                            <td>{{ peer.description }}</td>
                            <td>{{ peer.neighbor_as }}</td>
                            <td><a>{{ peer.neighbor_address }}</a></td>

                            {% if peer.state == "up" %}
                            <td class="has-text-success"><b>{{ peer.state|title }}</b></td>
                            {% else %}
                            <td class="has-text-danger"><b>{{ peer.state|title }}</b></td>
                            {% endif %}

                            <td>{{ peer.imported_routes }}/{{ peer.filtered_routes }}</td>
                            <td>{{ peer.last_event_time }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% endif %}

            </div>
        </div>
    </section>
</body>
</html>
