<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand hidden-md hidden-sm hidden-xs" href="/">
                <strong style="color: #3399CC;">iHome Looking Glass</strong>
            </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            {% include 'main_menu.html' %}
            {% include 'search_box.html' %}
        </div><!--/.nav-collapse -->
    </div>
</nav>


