{% extends 'base.html' %}
{% block title %}Routes from {{ peer_id }}{% endblock %}

{% block content %}


    <style>
        .community {
            background-color: #666666;
            padding-left: 6px;
            padding-right: 6px;
            border-radius: 3px;
            font-size: 12px;
            color: #ebebeb;
        }

        .asterisk {
            width: 30px;
        }

        .preferred-heading {
            background-color: #F0FFF1;
        }

        .non-preferred-heading {
            background-color: #FFFDE3;
        }

        .filtered {
            background-color: #F0EFEE;
            color: #999999;
        }
    </style>

    {% if error %}
        <div class="container text-center">
            <b>{{ error }}</b>
        </div>

    {% else %}

        <div class="container-fluid">
            <ol class="breadcrumb">
                {% if service == "wix" %}
                    <li><a href="/{{ service }}/summary/">W-IX peers</a></li>
                {% else %}
                    <li><a href="/{{ service }}/summary/">Full View peers</a></li>
                {% endif %}
                <li><a href="/{{ service }}/peer/{{ peer_id }}/">{{ peer_id }}</a></li>
                <li class="active">{% if rejected_mode %}Rejected{% else %}Accepted{% endif %} routes</li>
            </ol>

            <div class="row">
                <div class="col-sm-8">
                    {% if rejected_mode %}
                        <a class="btn btn-success" href="/{{ service }}/peer/{{ peer_id }}/routes/?family={{ family }}">Show accepted prefixes</a>
                    {% else %}

                        {% if rs1_routes|length > 3 or rs2_routes|length > 3 %}
                            {% include 'routes_display_radio.html' %}
                        {% endif %}

                    {% endif %}
                </div>

                <div class="col-sm-4 text-right hidden-xs">
                    {% if not rejected_mode %}
                        <a class="btn btn-warning" href="/{{ service }}/peer/{{ peer_id }}/routes/?family={{ family }}&rejected=yes">Show rejected prefixes</a>
                    {% endif %}
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <h3>Session @ RS1</h3>
                    {% with peer = rs1_peer %}
                        {% include 'brief_peer_data.html' %}
                        <h3>&nbsp;{% if rejected_mode %}Rejected{% else %}Accepted{% endif %} prefixes</h3>

                        {% if peer.state == 'up' %}

                            {% with routes = rs1_routes %}

                                {% if rejected_mode and peer.filtered_routes <= 300 or  not rejected_mode and peer.imported_routes <= 300 %}
                                    <table class="table table-condensed">
                                        {% for route in routes %}
                                            {% include 'route.html' %}
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <div class="alert alert-warning text-center">> 300 routes :'(</div>
                                {% endif %}


                            {% endwith %}

                        {% else %}
                            <div class="alert alert-warning" role="alert">Session is not established</div>

                        {% endif %}

                    {% endwith %}
                </div>

                <div class="col-md-6">
                    <h3>Session @ RS2</h3>
                    {% with peer = rs2_peer %}
                        {% include 'brief_peer_data.html' %}
                        <h3>&nbsp;{% if rejected_mode %}Rejected{% else %}Accepted{% endif %} routes</h3>

                        {% if peer.state == 'up' %}

                            {% with routes = rs1_routes %}

                                {% if rejected_mode and peer.filtered_routes <= 300 or  not rejected_mode and peer.imported_routes <= 300 %}
                                    <table class="table table-condensed">
                                        {% for route in routes %}
                                            {% include 'route.html' %}
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <div class="alert alert-warning text-center">> 300 routes :'(</div>
                                {% endif %}

                            {% endwith %}

                        {% else %}
                            <div class="alert alert-warning" role="alert">Session is not established</div>

                        {% endif %}

                    {% endwith %}
                </div>

            </div>

        </div>

    {% endif %}

{% endblock %}