{% extends 'base.html' %}
{% block title %}Routes from {{ peer_id }}{% endblock %}

{% block content %}


    <style>
        .community {
            background-color: #666666;
            padding-left: 6px;
            padding-right: 6px;
            border-radius: 3px;
            font-size: 12px;
            color: #ebebeb;
        }

        .asterisk {
            width: 30px;
        }

        .preferred-heading {
            background-color: #F0FFF1;
        }

        .non-preferred-heading {
            background-color: #FFFDE3;
        }

        .filtered {
            background-color: #F0EFEE;
            color: #999999;
        }
    </style>

    {% if error %}
        <div class="container text-center">
            <b>{{ error }}</b>
        </div>

    {% else %}

        <div class="container-fluid">
            <ol class="breadcrumb">
                {% if service == "wix" %}
                    <li><a href="/{{ service }}/summary/">W-IX peers</a></li>
                {% else %}
                    <li><a href="/{{ service }}/summary/">Full View peers</a></li>
                {% endif %}
                <li><a href="/{{ service }}/peer/{{ peer_id }}/">{{ peer_id }}</a></li>
                <li class="active">{% if rejected_mode %}Rejected{% else %}Accepted{% endif %} routes</li>
            </ol>

            <div class="row">
                <div class="col-md-6">
                    {% if rejected_mode %}
                        <a class="btn btn-success" href="/{{ service }}/peer/{{ peer_id }}/routes/?family={{ family }}">Show accepted routes</a>
                    {% else %}

                        {% if rs1_routes|length > 3 or rs2_routes|length > 3 %}
                            {% include 'routes_display_radio.html' %}
                        {% endif %}

                    {% endif %}
                </div>

                <div class="col-md-6 text-right">
                    {% if not rejected_mode %}
                        <a class="btn btn-warning" href="/{{ service }}/peer/{{ peer_id }}/routes/rejected/?family={{ family }}">Show rejected routes</a>
                    {% endif %}
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <h3>Session @ RS1</h3>
                    {% with peer = rs1_peer %}
                        {% include 'brief_peer_data.html' %}
                        <h3>&nbsp;{% if rejected_mode %}Rejected{% else %}Accepted{% endif %} routes</h3>

                        {% if peer.state == 'up' %}
                            {% if not rejected_mode %}
                                {% if peer.imported_routes > 300 %}
                                    <div class="alert alert-warning" role="alert">Displaying first 300 of {{ peer.imported_routes }} accepted routes</div>
                                {% endif %}
                            {% endif %}
                            {% if rejected_mode %}
                                {% if peer.filtered_routes > 300 %}
                                    <div class="alert alert-warning" role="alert">Displaying first 300 of {{ peer.filtered_routes }} rejected routes</div>
                                {% endif %}
                            {% endif %}
                            {% with routes = rs1_routes %}
                                <table class="table table-condensed">
                                    {% for route in routes %}
                                        {% include 'route.html' %}
                                    {% endfor %}
                                </table>

                            {% endwith %}

                        {% else %}
                            <div class="alert alert-warning" role="alert">Session is not established</div>

                        {% endif %}

                    {% endwith %}
                </div>

                <div class="col-md-6">
                    <h3>Session @ RS2</h3>
                    {% with peer = rs2_peer %}
                        {% include 'brief_peer_data.html' %}
                        <h3>&nbsp;{% if rejected_mode %}Rejected{% else %}Accepted{% endif %} routes</h3>

                        {% if peer.state == 'up' %}
                            {% if not rejected_mode %}
                                {% if peer.imported_routes > 300 %}
                                    <div class="alert alert-warning" role="alert">Displaying first 300 of {{ peer.imported_routes }} accepted routes</div>
                                {% endif %}
                            {% endif %}
                            {% if rejected_mode %}
                                {% if peer.filtered_routes > 300 %}
                                    <div class="alert alert-warning" role="alert">Displaying first 300 of {{ peer.filtered_routes }} rejected routes</div>
                                {% endif %}
                            {% endif %}
                            {% with routes = rs2_routes %}
                                <table class="table table-condensed">
                                    {% for route in routes %}
                                        {% include 'route.html' %}
                                    {% endfor %}
                                </table>
                            {% endwith %}

                        {% else %}
                            <div class="alert alert-warning" role="alert">Session is not established</div>

                        {% endif %}

                    {% endwith %}
                </div>

            </div>

        </div>

    {% endif %}

{% endblock %}