{% extends 'base.html' %}
{% block title %}Peer info{% endblock %}
{% block content %}

    {% if error %}
        <div class="container text-center">
            <b>{{ error }}</b>
        </div>

    {% else %}

        <div class="container">
            <ol class="breadcrumb">
                {% if service == "wix" %}
                    <li><a href="/{{ service }}/summary/">W-IX peers</a></li>
                {% else %}
                    <li><a href="/{{ service }}/summary/">Full View peers</a></li>
                {% endif %}
                <li class="active">{{ peer_id }}</li>
            </ol>

            <div class="row">

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">BGP info @ RS1</h3>
                        </div>
                        {% set peer = rs1_peer %}
                        {% include "peer_data.html" %}
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">BGP info @ RS2</h3>
                        </div>
                        {% set peer = rs2_peer %}
                        {% include "peer_data.html" %}
                    </div>
                </div>

            </div>

        </div>

    {% endif %}

{% endblock %}
