{% if rejected_mode %}
    <tr class="danger">
        {% else %}
    <tr class="{% if route.preferred %}preferred preferred-heading{% else %}non-preferred non-preferred-heading{% endif %}">
{% endif %}

<td class="asterisk">
    {% if route.preferred %}
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    {% else %}
        &nbsp;
    {% endif %}
</td>

<td><b><a href="/{{ service }}/route/?destination={{ route.destination }}">{{ route.destination }}</a></b></td>

<td colspan="2">
    Next-hop: <b>{{ route.next_hop }}</b>
    {% if route.next_hop_netname %}
        <label class="label label-primary pull-right">{{ route.next_hop_netname }}</label>
    {% endif %}
</td>

</tr>

<tr class="{% if route.preferred %}preferred{% else %}non-preferred{% endif %}">
    <td colspan="2"></td>
    <td colspan="2">
        Origin: <b>{{ route.origin }}</b> Localpref: <b>{{ route.local_pref }}</b>
    </td>
</tr>

<tr class="{% if route.preferred %}preferred{% else %}non-preferred{% endif %}">
    <td></td>
    <td class="text-right">AS-Path</td>
    <td colspan="2">
        {% for asn in route.as_path %}
            <b>{{ asn }}</b>
        {% endfor %}
    </td>
</tr>

<tr class="{% if route.preferred %}preferred{% else %}non-preferred{% endif %}">
    <td></td>
    <td class="text-right">Community</td>

    <td colspan="2">
        <div class="long_communities">
            <small>
                {% for community in route.communities if community.description %}
                    <b>{{ community }}</b> <span class="text-muted hidden-xs">— {{ community.description }}</span><br>
                {% endfor %}
                {% for community in route.communities if not community.description %}
                    <label class="label label-default">{{ community }}</label>
                {% endfor %}
            </small>
        </div>
    </td>
</tr>
