<tr class="{% if route.preferred %}preferred preferred-heading{% else %}non-preferred non-preferred-heading{% endif %}">

    <td class="asterisk">
        {% if route.preferred %}
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        {% else %}
            &nbsp;
        {% endif %}
    </td>

    <td><b><a href="/{{ service }}/route/?destination={{ route.prefix }}">{{ route.prefix }}</a></b></td>

    <td colspan="2">
        Next-hop: <b>{{ route.next_hop }}</b>
        <span class="pull-right">
            Origin: <b>{{ route.origin }}</b>
            Localpref: <b>{{ route.local_pref }}</b>
        </span>

    </td>

</tr>

<tr class="{% if route.preferred %}preferred{% else %}non-preferred{% endif %}">
    <td colspan="2"></td>
    <td colspan="2">
            Origin: <b>{{ route.origin }}</b> Localpref: <b>{{ route.local_pref }}</b>
    </td>
</tr>

<tr class="{% if route.preferred %}preferred{% else %}non-preferred{% endif %}">
    <td></td>
    <td class="text-right">AS-Path</td>
    <td colspan="2">
        {% for asn in route.as_path %}
            <b>{{ asn }}</b>
        {% endfor %}
    </td>
</tr>

<tr class="{% if route.preferred %}preferred{% else %}non-preferred{% endif %}">
    <td></td>
    <td class="text-right">Community</td>

    <td colspan="2">
        <div class="long_communities">
            <small>
                <ul class="list-unstyled">
                    {% for community in route.communities if community.description %}
                        <li><b>{{ community }}</b> <span class="text-muted hidden-xs">— {{ community.description }}</span></li>
                    {% endfor %}
                </ul>
                {% for community in route.communities if not community.description %}
                    <label class="label label-default">{{ community }}</label>
                {% endfor %}
            </small>
        </div>
    </td>
</tr>
