{% extends 'base.html' %}

{% block content %}


<style>
    .asterisk {
        width: 30px;
    }
    .preferred-heading {
        background-color: #F0FFF1;
    }
    .non-preferred-heading {
        background-color: #FFFDE3;
    }
    .filtered {
        background-color: #F0EFEE;
        color: #999999;
    }
</style>

{% if error %}
<div class="container text-center">
    <b>{{ error }}</b>
</div>

{% else %}

<div class="container-fluid">

    <ol class="breadcrumb">
        {% if service == "wix" %}
            <li><a href="/{{ service }}/summary/">W-IX peers</a></li>
        {% else %}
            <li><a href="/{{ service }}/summary/">Full View peers</a></li>
        {% endif %}
        <li class="active">Routes</li>
        <li class="active">{{ destination }}</li>
    </ol>

    <div class="row">
        <div class="col-md-12">
            <h3>Routes for {{ destination }}</h3>
        </div>
    </div>

    {% if rs1_route.routes|length > 3 or rs2_route.routes|length > 3 %}
        {% include 'routes_display_radio.html' %}
    {% endif %}

    <div class="row">

        <div class="col-md-6">
            <h4>Routes on RS1</h4>

            {% with routes = rs1_route.routes %}
                {% if routes %}
                {% include 'routes_table.html' %}
                {% else %}
                <div class="alert alert-info" role="alert">{{ destination }} not in table</div>
                {% endif %}
            {% endwith %}


        </div>

        <div class="col-md-6">
            <h4>Routes on RS2</h4>

            {% with routes = rs2_route.routes %}
                {% if routes %}
                {% include 'routes_table.html' %}
                {% else %}
                <div class="alert alert-info" role="alert">{{ destination }} not in table</div>
                {% endif %}
            {% endwith %}

        </div>

    </div>

</div>

{% endif %}

{% endblock %}