<table class="table table-condensed">

    {% for route in routes %}
    <tr class="{% if route.preferred %}preferred preferred-heading{% else %}non-preferred non-preferred-heading{% endif %}">

        <td class="asterisk">
            {% if route.preferred %}
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            {% else %}
            &nbsp;
            {% endif %}
        </td>

        <td><b>{{ route.destination }}</b></td>

        <td colspan="2">
            <ul class="list-inline">
                <li><b>Next-hop: {{ route.next_hop }}</b></li>
            </ul>
        </td>

    </tr>

    <tr class="{% if route.preferred %}preferred{% else %}non-preferred{% endif %}">
        <td colspan="2"></td>
        <td colspan="2">
            <ul class="list-inline">
                <li>Origin: <b>{{ route.origin }}</b></li>
                <li>Localpref: <label class="label label-default">{{ route.local_pref }}</label></li>
            </ul>
        </td>
    </tr>

    <tr class="{% if route.preferred %}preferred{% else %}non-preferred{% endif %}">
        <td></td>
        <td class="text-right">AS-Path</td>
        <td colspan="2">
            {% for asn in route.as_path %}
            <b>{{ asn }}</b>
            {% endfor %}
        </td>
    </tr>


    <tr class="{% if route.preferred %}preferred{% else %}non-preferred{% endif %}">
        <td></td>
        <td class="text-right">Community</td>

        <td colspan="2">
            <small>
                {% for c in route.communities %}
                <label class="label label-info">{{c}}</label>
                {% endfor %}
            </small>
        </td>
    </tr>

    {% endfor %}
</table>
