{% extends 'base.html' %}

{% block content %}

{% if not pairs %}

<b>The LG is currently not available. Please come back later.</b>

{% else %}

<div class="container">
    <table class="table table-stripped">
        <thead>
            <th>Netname</th>
            <th>ASN</th>
            <th>Address</a></th>
            <th>State</b></th>
            <th class="text-right">Accepted</th>
            <th class="text-right">Rejected</th>
            <th>Persistency</th>
        </thead>

        <tbody>
        {% for pair in pairs|sort(attribute="value") %}
        <tr>
            <td>
                <b>{{ pair.description }}</b>
            </td>
            <td>
                <b><a href="http://apps.db.ripe.net/search/query.html?sources=RIPE_NCC&searchtext=AS{{ pair.neighbor_as }}&submit=Search">{{ pair.neighbor_as }}</a></b>
            </td>
            <td>

                <a href="/peer/{{ pair.neighbor_address }}">{{ pair.neighbor_address }}</a>

            </td>

            <td>

                {% if pair['rs1'] %}
                    {% if pair['rs1'].state == "up" %}
                        <a href="/rs1/peer/{{ pair.neighbor_address}}"><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></a>
                    {% else %}
                        <span class="glyphicon glyphicon-warning-sign text-warning" aria-hidden="true"></span>
                    {% endif %}
                {% else %}
                        <span class="glyphicon glyphicon-warning-sign text-muted" aria-hidden="true"></span>
                {% endif %}

                <br>

                {% if pair['rs2'] %}
                    {% if pair['rs2'].state == "up" %}

                        <a href="/rs1/peer/{{ pair.neighbor_address}}"><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></a>
                    {% else %}
                        <span class="glyphicon glyphicon-warning-sign text-warning" aria-hidden="true"></span>
                    {% endif %}
                {% else %}
                        <span class="glyphicon glyphicon-warning-sign text-muted" aria-hidden="true"></span>
                {% endif %}


            </td>

            <td class="text-right">
                {{ pair['rs1'].imported_routes }}<br>
                {{ pair['rs2'].imported_routes }}
            </td>

            <td class="text-muted text-right">
                <span>{{ pair['rs1'].filtered_routes }}</span><br>
                <span>{{ pair['rs2'].filtered_routes }}</span>
            </td>

            <td class="text-muted">
                <small>
                <abbr title="{{ pair['rs1'].last_event_time }}">{{ pair['rs1'].persistency() }} {{ pair['rs1'].state }}</abbr><br>
                <abbr title="{{ pair['rs2'].last_event_time }}">{{ pair['rs2'].persistency() }} {{ pair['rs2'].state }}</abbr>
                </small>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}


{% endblock %}